<header class="bg-light fixed-top ">
    <div class="container d-flex pt-3 pb-3">
        <div class="d-flex align-items-center me-auto">
            <img src="https://upload.wikimedia.org/wikipedia/ru/1/13/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_%D0%9F%D0%B5%D1%80%D0%BC%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%B2%D0%B8%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D0%B9_%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D1%83%D0%BC.png" alt="logo" width="50px">
        </div>
        <div>
            <ul class="nav">
                <li class="nav-item"><a routerLink="/admin/users" class="nav-link" routerLinkActive="disabled">Пользователи</a></li>
                <li class="nav-item"><a routerLink="/admin/groupsJob" class="nav-link" routerLinkActive="disabled">Группы и должности</a></li>
                <li class="nav-item"><a routerLink="/leave" class="nav-link text-danger">Выход</a></li>
            </ul>    
        </div>
    </div>
</header>
<main class="mt-5 pt-5">
    <router-outlet></router-outlet>
</main>
<footer class="pt-lg-3 pb-lg-3 bg-light">
    <div class="container">
        <p class="p-0 text-dark fs-4 text-center">Авиатехникум</p>
    </div>
</footer>
