<div class="modal fade" id="viewOutApplModal" tabindex="-1" aria-labelledby="viewOutApplModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewOutApplModalLabel">Просмотр заявки</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Пример</td>
                        <td class="text-secondary">Не прочитано</td>
                    </tr>
                    <tr>
                        <td>Пример</td>
                        <td class="text-warning">Прочитано</td>
                    </tr>
                    <tr>
                        <td>Пример</td>
                        <td class="text-primary">В работе</td>
                    </tr>
                    <tr>
                        <td>Пример</td>
                        <td class="text-success">Завершено</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

  