<div class="container d-flex justify-content-between">
    <div class="overflow-auto" style="height: 40rem; width: 40rem;">
        <div class="d-flex p-3 m-2 bg-light rounded justify-content-between" *ngFor="let item of users">
            <p class="">da</p>
            <div class="d-flex">
                <button class="btn btn-primary me-2">Редактировать</button>
                <button class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <users-form></users-form>
</div>