<div class="container d-flex flex-column align-items-center">
    <h1 class="h1">Исходящие заявки</h1>
    <table class="w-100 mt-4">
        <thead class="w-100">
            <tr class="d-flex justify-content-between pe-3 ps-3 mb-3"> 
                <th class="w-25">Название заявки</th>
                <th class="w-25">Дата отправления</th>
                <th class="w-25"></th>
            </tr>
        </thead>
        <tbody class="w-100">
            <tr class="d-flex align-items-center justify-content-between bg-light ps-3 pe-3 rounded mb-3">
                <td class="w-25">Выполнение работ</td>
                <td class="w-25">18.01.2023</td>
                <td class="d-flex align-items-center justify-content-end w-25">
                    <i class="bi bi-eye p-0 text-primary ms-1 me-1" style="font-size: 2rem;" data-bs-toggle="modal" data-bs-target="#viewOutApplModal"></i>
                    <i class="bi bi-pencil p-0 text-primary ms-1 me-1" style="font-size: 2rem;" data-bs-toggle="modal" data-bs-target="#outApplModal"></i>
                    <i class="bi bi-x text-danger p-0 ms-1 me-1" style="font-size: 2rem;"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary align-self-end mb-3" data-bs-toggle="modal" data-bs-target="#outApplModal">Добавить заявку</button>
</div>
<out-appl-view></out-appl-view>
<user-out-modal></user-out-modal>

