<div style="width: 40rem;">
    <form action="">
        <div class="mb-3">
            <label for="name">Фамилия</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name">Имя</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name">Отчество</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name">Пароль</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name">Почта</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name">Отделение</label>
            <select name="" id="" class="form-control">
                <option value="">Тест</option>
                <option value="">Тест</option>
                <option value="">Тест</option>
                <option value="">Тест</option>
                <option value="">Тест</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="name">Должность</label>
            <select name="" id="" class="form-control">
                <option value="">Тест</option>
                <option value="">Тест</option>
                <option value="">Тест</option>
                <option value="">Тест</option>
                <option value="">Тест</option>
            </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Добавить/Изменить</button>
        </div>
    </form>
</div>